$regular-pink-btn: #EA4C89;
$pure-white: rgb(255, 255, 255);

$table-header-background:  rgb(205, 189, 195);

$dark-background-color: rgb(245, 240, 240);
$light-gray-background-color: rgba(246, 242, 242, 0.576);

