@import "../../styles/colors";

.header {
	display: flex;
	margin: 3rem;
	place-content: center;
	gap: 2rem;
	align-items: center;

	&__selector input {
		padding: 10px;
		width: 60px;
		border: none;
		box-shadow: $lighter-grey-shadow;
		outline: none;
		border-radius: 8px;
	}

	button {
		background-color: $regular-pink-btn;
		border-radius: 8px;
		border-style: none;
		padding: 11px;
		cursor: pointer;
		box-shadow: $lighter-grey-shadow;
		transition: 0.5s;

		&:hover {
			opacity: 0.5;
		}
	}
}