@import "../../styles/colors";

.cartsTable {
    margin: 5rem;
}
.table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border: 2px solid $table-header-background;
    border-radius: 5px;
    
    thead {
      box-sizing: border-box;
      position: sticky;
      top: 0;
      background-color: $table-header-background;
  
      tr th {
        padding: 1rem;
      }
    }
  
    tr td {
      padding: 1rem;
      border-bottom: 1px solid $table-header-background;
    }
  
    tbody tr {
      background-color: $pure-white;
      transition: 0.5s;
      cursor: pointer;
      
      &:hover {
        opacity: 0.5;
      }
    }
  }