@import "../../styles/colors";

.cartDetails {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    width: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: $pure-white;
    box-shadow: $grey-shadow;

    &__header {
        padding: 1rem;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $table-header-background;
        margin-bottom: 2rem;

        button {
            padding: 0.5rem 1rem;
            background-color: $regular-pink-btn;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__delete {
        padding: 1.5rem;
        margin: auto;

        button {
            padding: 1rem;
            background-color: $regular-pink-btn;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
        }
    }
}